@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    font-family: "Poppins";
    font-size: 14px;
    background-color: #f8f9fa;
}

.mt-page {
    margin-top: 70px;
}

.content-wrapper {
    margin: 0 auto;     /* Centraliza o conteúdo */
    padding: 10px;      /* Espaçamento interno para evitar que o conteúdo fique muito colado nas bordas */
}

/* Estilo da tabela para que ela ocupe o máximo de espaço possível, sem exceder o conteúdo */
.table {
    width: 100%;
}

select {
    border: 0px;
    background-color: #fff;

    cursor: pointer;
    /*min-width: 200px;*/
    width: 100%;
}

.btn-clean {
    padding: 9px 16px;
    border-radius: 3px;
}

.input-clean {
    padding: 9px 10px;
    border-radius: 3px;
}

/* Remove transições de todos os inputs */
input, textarea, select {
    transition: none !important;
}

select {
    padding-top: 4px;
}

.btn-outline-card {
    border: 1px solid #aeafb1; /* Cor da borda do card */ 
    color: #6c757d; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
}

.btn-outline-card:hover {
    background-color: #e0e0e0; /* Cor do fundo ao passar o mouse */
    color: #343a40; /* Cor do texto ao passar o mouse */
}

.btn-outline-card:disabled {
    opacity: 0.65; /* Diminui a opacidade para dar um efeito de desabilitado */
    cursor: not-allowed; /* Muda o cursor para indicar que o botão não está clicável */
    border-color: #e0e0e0; /* Mantém a cor da borda do card */
    color: #6c757d; /* Mantém a cor do texto */
    background-color: transparent; /* Mantém o fundo transparente */
}











.table td {
    vertical-align: middle;
}




.container-custom {
    max-width: 1200px;  /* Largura máxima do container */
    margin-left: auto;  /* Alinha à esquerda automaticamente */
    margin-right: auto; /* Alinha à direita automaticamente */
    padding-left: 20px; /* Espaçamento interno à esquerda */
    padding-right: 20px; /* Espaçamento interno à direita */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container-custom {
        padding-left: 10px;
        padding-right: 10px;
    }
}






/* ajuste table */
.table {
    border-collapse: collapse; /* Garante que as bordas se comportem conforme esperado */
    width: 100%;
}

.table-bordered {
    border: 1px solid #dee2e6; /* Borda em volta de toda a tabela */
}

.table-bordered th,
.table-bordered td {
    border: none; /* Remove todas as bordas das células */
}

.table-bordered thead th {
    border-bottom: 1px solid #dee2e6; /* Borda no topo da tabela (cabeçalho) */
}

.table-bordered tr:first-child th {
    border-top: 1px solid #dee2e6; /* Borda no topo da primeira linha do cabeçalho */
}

.table-bordered tr td:first-child {
    border-left: 1px solid #dee2e6; /* Borda à esquerda da primeira coluna */
}

.table-bordered tr td:last-child {
    border-right: 1px solid #dee2e6; /* Borda à direita da última coluna */
}

.table-bordered tbody tr:last-child td {
    border-bottom: 1px solid #dee2e6; /* Borda na parte inferior da última linha */
}

.form-check-input {
    width: 1.2em; /* Ajuste o valor conforme necessário */
    height: 1.2em; /* Ajuste o valor conforme necessário */
}

.table td {
    padding: 0.5rem 0.9rem; /* Reduz apenas o espaçamento vertical */
}

.table th {
    padding: 0.9rem;
}
